.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.employeeDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
